.table {
	height: 400px;
	overflow-y: scroll;
	margin-top: 20px;
	color: #6a5d5d;
	background-color: white;
}

.table tr {
	display: flex;
	justify-content: space-between;
}

.table td {
	padding: .5rem;
}

.table tr:nth-of-type(odd) {
	background-color: #f3f2f8;
}
